<h2> Search autors </h2>
<form action = "/authors" method="GET"> 
	<label> Name </label>
	<input type="text" name="name" value="<%= searchOptions.name %>">
	<button type="submit"> search </button>
</form>
<br>

<% authors.forEach(author => { %>

	<dir> <%= author.name %> </dir>
	<a href="/authors/<%= author.id %>"> View </a>
	<a href="/authors/<%= author.id %>/edit"> Edit </a>
	<form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
		<button type="submit"> Delete </button>
	</form>

<% }) %> 

